@import "header.css";
@import "banner.css";
@import "features.css";
@import "work.css";
@import "team.css";
@import "testimonials.css";
@import "download.css";
@import "footer.css";

*,
*::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
}