.team__container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 114px;
}
.team__card {
    max-width: 23%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
}
.team__card-img img {
    width: 100%;
}
.team__card-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    padding-top: 25px;
}
.team__card-place {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FF4343;
    padding-top: 10px;
}
.team__card-text {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #6C7279;
    padding-top: 30px;
    padding-bottom: 30px;
}
.team__card-social img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
@media (max-width : 1024px) {
    .team__container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .team__card-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
    .team__card-place {
        font-size: 14px;
        line-height: 16px;
    }
    .team__card-text {
        font-size: 14px;
        line-height: 16px;
    }
    .team__container a img {
        max-width: 33px;
    }
}
@media (max-width: 768px) {
    .team__container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .team__card {
        max-width: 95%;
    }
    .team__card-img {
        overflow: hidden;
    }
    .team__card-img img {
        transform: scale(1.2);
    }
    .team__card-name {
        font-size: 5vw;
        padding-top: 10%;
        padding-bottom: 4%;
    }
    .team__card-place {
        font-size: 3.8vw;
        padding-bottom: 10%;
    }
    .team__card-text {
        font-size: 4.5vw;
        line-height: 120%;
        padding-bottom: 10%;
    }
    .team__card-social {
        padding-bottom: 15%;
    }
    .team__card-social img {
        transform: scale(2.8);
        margin: 5%;
    }
    .team__card-social img:hover {
        transform: scale(3.2);
    }
}